.background1{
    background-color: aliceblue;
}
.mainheading{
    text-align: center;
    text-decoration: underline;
    font-size:20px;
}
.img1{
    height:300px;
    width: 350px;
    border-radius:15px;
    padding:10px;
}
.heading1{
    font-size:15px;
    padding:10px;
}
.para1{
    font-size:12px;
    padding:10px;
}

.img1{
    border-radius: 30px;
}
