.p1{
    padding:10px;
    margin:10px;
}
.p2{
    padding:10px;
    margin:10px;
}
.p3{
    padding:10px;
    margin:10px;
}
.p4{
    padding:10px;
    margin:10px;
}
.background3{
    padding:50px;
    margin:10px;
}
.paddings{
    padding: 12px;
}
.mainheading{
    text-align: center;
    text-decoration: underline;
}