.backs1{
    background-color: bisque;
}

.title5{
    font-size: 50px;
    
}

.heds3{
    text-align: center;
}
.igm3{
    height: 600px;
    padding: 30px;
    width: 400px;

}
.ashpar{
    color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}